<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Home</title>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Purrfect Connections</span>
    </nav>
</head>
<body>
    <div class="container border rounded">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Purrfect Connections</h1>

                <p>Welcome to the web's most successful dating site. At <strong>Purrfect Connections</strong> your
                    cats will meet other like minded felines. We have the highest success rate of cat couples on
                    the web. User's are matched by interest and location. Find out why so many so many others have
                    found love on our site!</p>

                <div class="container">
                    <h5 class="text-center">Hear what our users are saying about us.</h5>

                    <hr class="my-4">
                    <!-- User Quotes  -->
                    <p><i>"My cat Timberlake met the love of his life after only a month!" - Andrea</i></p>
                    <p><i>"It was so easy to set up my cat's profile and start meeting cats. I didn't realize how
                        many others were hunting for the purrfect love in my area." - John Smith</i></p>
                    <p><i>"Just try it! Your cat never be the same!" - Sarah</i></p>

                    <div class="container text-center">
                        <a class="btn btn-primary btn-lg text-center" href="personal">
                            Create a Profile!</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <img src="images/cat_dating.jpg" alt="Collage of cats" id="home-cats"
                     class="cats img-fluid rounded float-right">
            </div>
        </div>
    </div>
</body>
</html>